In [ ]:
from scripts.flink_sql_gateway_wrapper import connect, sql, close

In [9]:
connect("localhost", 8081)

✓ Connected to SQL Gateway at localhost:8081

In [10]:
sql("SHOW CATALOGS")

✓ Loaded 1 rows into table: result
┌─────────────────┐
│  catalog name   │
│     varchar     │
├─────────────────┤
│ default_catalog │
└─────────────────┘

In [11]:
sql("""CREATE CATALOG IF NOT EXISTS paimon_catalog WITH (
  'type' = 'paimon',
  'warehouse' = 's3://paimon-data/paimon-warehouse',
  's3.endpoint' = 'http://seaweedfs-s3:8333',
  's3.access-key' = 'paimonAdmin123',
  's3.secret-key' = 'paimonSecretKey456789abcdef',
  's3.path-style-access' = 'true'
);""")

✓ Loaded 1 rows into table: result
┌─────────┐
│ result  │
│ varchar │
├─────────┤
│ OK      │
└─────────┘

In [12]:
sql("USE CATALOG paimon_catalog")
sql("SHOW DATABASES")

✓ Loaded 1 rows into table: result
┌─────────┐
│ result  │
│ varchar │
├─────────┤
│ OK      │
└─────────┘

✓ Loaded 1 rows into table: result
┌───────────────┐
│ database name │
│    varchar    │
├───────────────┤
│ default       │
└───────────────┘

In [13]:
sql("""CREATE DATABASE IF NOT EXISTS testdb;""")
sql("SHOW DATABASES")
sql("""USE testdb;""")
sql("SHOW TABLES")

✓ Loaded 1 rows into table: result
┌─────────┐
│ result  │
│ varchar │
├─────────┤
│ OK      │
└─────────┘

✓ Loaded 2 rows into table: result
┌───────────────┐
│ database name │
│    varchar    │
├───────────────┤
│ default       │
│ testdb        │
└───────────────┘

✓ Loaded 1 rows into table: result
┌─────────┐
│ result  │
│ varchar │
├─────────┤
│ OK      │
└─────────┘

✓ Query returned 0 rows

In [7]:
sql("DROP TABLE IF EXISTS users;")
sql("DROP TABLE IF EXISTS orders;")

✓ Loaded 1 rows into table: result
┌─────────┐
│ result  │
│ varchar │
├─────────┤
│ OK      │
└─────────┘

✓ Loaded 1 rows into table: result
┌─────────┐
│ result  │
│ varchar │
├─────────┤
│ OK      │
└─────────┘

In [14]:
sql("""CREATE TEMPORARY TABLE IF NOT EXISTS mysql_users (
  id INT,
  name STRING,
  email STRING,
  age INT,
  created_at TIMESTAMP(3),
  updated_at TIMESTAMP(3),
  PRIMARY KEY (id) NOT ENFORCED
) WITH (
  'connector' = 'mysql-cdc',
  'hostname' = 'mysql',
  'port' = '3306',
  'username' = 'flink',
  'password' = 'flink123',
  'database-name' = 'testdb',
  'table-name' = 'users',
  'scan.startup.mode' = 'initial'
);""")
sql("SELECT * FROM mysql_users;")

✓ Loaded 1 rows into table: result
┌─────────┐
│ result  │
│ varchar │
├─────────┤
│ OK      │
└─────────┘

✓ Loaded 5 rows into table: result
┌───────┬───────────────┬─────────────────────┬───────┬─────────────────────┬─────────────────────┐
│  id   │     name      │        email        │  age  │     created_at      │     updated_at      │
│ int32 │    varchar    │       varchar       │ int32 │       varchar       │       varchar       │
├───────┼───────────────┼─────────────────────┼───────┼─────────────────────┼─────────────────────┤
│     5 │ Eve Wilson    │ eve@example.com     │    25 │ 2025-12-11T09:06:03 │ 2025-12-11T09:06:03 │
│     3 │ Charlie Brown │ charlie@example.com │    42 │ 2025-12-11T09:06:03 │ 2025-12-11T09:06:03 │
│     4 │ Diana Prince  │ diana@example.com   │    30 │ 2025-12-11T09:06:03 │ 2025-12-11T09:06:03 │
│     1 │ Alice Johnson │ alice@example.com   │    28 │ 2025-12-11T09:06:03 │ 2025-12-11T09:06:03 │
│     2 │ Bob Smith     │ bob@example.com     │    35 │ 2025-12-11T09:06:03 │ 2025-12-11T09:06:03 │
└───────┴───────────────┴─────────────────────┴───────┴─────────────────────┴─────────────────────┘

✓ Stopped job 0913b7fac5ab9869340d1a22527da1e4

In [9]:
sql("SELECT * FROM mysql_users;")

✓ Loaded 5 rows into table: result
┌───────┬───────────────┬─────────────────────┬───────┬─────────────────────┬─────────────────────┐
│  id   │     name      │        email        │  age  │     created_at      │     updated_at      │
│ int32 │    varchar    │       varchar       │ int32 │       varchar       │       varchar       │
├───────┼───────────────┼─────────────────────┼───────┼─────────────────────┼─────────────────────┤
│     5 │ Eve Wilson    │ eve@example.com     │    25 │ 2025-12-10T08:32:59 │ 2025-12-10T08:32:59 │
│     4 │ Diana Prince  │ diana@example.com   │    30 │ 2025-12-10T08:32:59 │ 2025-12-10T08:32:59 │
│     3 │ Charlie Brown │ charlie@example.com │    42 │ 2025-12-10T08:32:59 │ 2025-12-10T08:32:59 │
│     2 │ Bob Smith     │ bob@example.com     │    35 │ 2025-12-10T08:32:59 │ 2025-12-10T08:32:59 │
│     1 │ Alice Johnson │ alice@example.com   │    28 │ 2025-12-10T08:32:59 │ 2025-12-10T08:32:59 │
└───────┴───────────────┴─────────────────────┴───────┴─────────────────────┴─────────────────────┘

✓ Stopped job be199b4aff1a3b9c4819fa6451f53f08

In [15]:
sql("""CREATE TEMPORARY TABLE IF NOT EXISTS mysql_orders (
  id INT,
  user_id INT,
  product_name STRING,
  quantity INT,
  price DECIMAL(10, 2),
  order_date TIMESTAMP(3),
  PRIMARY KEY (id) NOT ENFORCED
) WITH (
  'connector' = 'mysql-cdc',
  'hostname' = 'mysql',
  'port' = '3306',
  'username' = 'flink',
  'password' = 'flink123',
  'database-name' = 'testdb',
  'table-name' = 'orders',
  'scan.startup.mode' = 'initial'
);""")
sql("SELECT * FROM mysql_orders;")

✓ Loaded 1 rows into table: result
┌─────────┐
│ result  │
│ varchar │
├─────────┤
│ OK      │
└─────────┘

✓ Loaded 6 rows into table: result
┌───────┬─────────┬──────────────┬──────────┬────────┬─────────────────────┐
│  id   │ user_id │ product_name │ quantity │ price  │     order_date      │
│ int32 │  int32  │   varchar    │  int32   │ double │       varchar       │
├───────┼─────────┼──────────────┼──────────┼────────┼─────────────────────┤
│     1 │       1 │ Laptop       │        1 │ 999.99 │ 2025-12-11T09:06:03 │
│     5 │       4 │ Headphones   │        1 │  150.0 │ 2025-12-11T09:06:03 │
│     4 │       3 │ Monitor      │        1 │ 299.99 │ 2025-12-11T09:06:03 │
│     3 │       1 │ Keyboard     │        1 │   75.0 │ 2025-12-11T09:06:03 │
│     2 │       2 │ Mouse        │        2 │   25.5 │ 2025-12-11T09:06:03 │
│     6 │       5 │ USB Cable    │        3 │   10.0 │ 2025-12-11T09:06:03 │
└───────┴─────────┴──────────────┴──────────┴────────┴─────────────────────┘

✓ Stopped job db0b45ac1d5dad8703c3cd0388808b18

In [16]:
sql("""CREATE TABLE IF NOT EXISTS users (
  id INT,
  name STRING,
  email STRING,
  age INT,
  created_at TIMESTAMP(4),
  updated_at TIMESTAMP(4),
  PRIMARY KEY (id) NOT ENFORCED
) WITH (
  'metadata.iceberg.storage' = 'table-location',
  'data-file.path-directory' = 'data'
);""")
sql("""INSERT INTO users SELECT * FROM mysql_users;""")

✓ Loaded 1 rows into table: result
┌─────────┐
│ result  │
│ varchar │
├─────────┤
│ OK      │
└─────────┘

✓ Loaded 1 rows into table: result
┌──────────────────────────────────┐
│              job id              │
│             varchar              │
├──────────────────────────────────┤
│ 85518e0a0d681332ba5db075c54a6946 │
└──────────────────────────────────┘

In [18]:
sql("SELECT * FROM users")

✓ Loaded 5 rows into table: result
┌───────┬───────────────┬─────────────────────┬───────┬─────────────────────┬─────────────────────┐
│  id   │     name      │        email        │  age  │     created_at      │     updated_at      │
│ int32 │    varchar    │       varchar       │ int32 │       varchar       │       varchar       │
├───────┼───────────────┼─────────────────────┼───────┼─────────────────────┼─────────────────────┤
│     1 │ Alice Johnson │ alice@example.com   │    28 │ 2025-12-11T09:06:03 │ 2025-12-11T09:06:03 │
│     2 │ Bob Smith     │ bob@example.com     │    35 │ 2025-12-11T09:06:03 │ 2025-12-11T09:06:03 │
│     3 │ Charlie Brown │ charlie@example.com │    42 │ 2025-12-11T09:06:03 │ 2025-12-11T09:06:03 │
│     4 │ Diana Prince  │ diana@example.com   │    30 │ 2025-12-11T09:06:03 │ 2025-12-11T09:06:03 │
│     5 │ Eve Wilson    │ eve@example.com     │    25 │ 2025-12-11T09:06:03 │ 2025-12-11T09:06:03 │
└───────┴───────────────┴─────────────────────┴───────┴─────────────────────┴─────────────────────┘

✓ Stopped job 8ceb5a135c4ec0e8af2616a453922973

In [19]:
sql("""CREATE TABLE IF NOT EXISTS orders (
  id INT,
  user_id INT,
  product_name STRING,
  quantity INT,
  price DECIMAL(10, 2),
  order_date TIMESTAMP(4),
  PRIMARY KEY (id) NOT ENFORCED
) WITH (
  'metadata.iceberg.storage' = 'table-location',
  'data-file.path-directory' = 'data'
);""")
sql("""INSERT INTO orders SELECT * FROM mysql_orders;""")

✓ Loaded 1 rows into table: result
┌─────────┐
│ result  │
│ varchar │
├─────────┤
│ OK      │
└─────────┘

✓ Loaded 1 rows into table: result
┌──────────────────────────────────┐
│              job id              │
│             varchar              │
├──────────────────────────────────┤
│ 597b1ccb98bd077b0edd8dfed29281d8 │
└──────────────────────────────────┘

In [21]:
sql("SELECT * FROM orders")

✓ Loaded 6 rows into table: result
┌───────┬─────────┬──────────────┬──────────┬────────┬─────────────────────┐
│  id   │ user_id │ product_name │ quantity │ price  │     order_date      │
│ int32 │  int32  │   varchar    │  int32   │ double │       varchar       │
├───────┼─────────┼──────────────┼──────────┼────────┼─────────────────────┤
│     1 │       1 │ Laptop       │        1 │ 999.99 │ 2025-12-11T09:06:03 │
│     2 │       2 │ Mouse        │        2 │   25.5 │ 2025-12-11T09:06:03 │
│     3 │       1 │ Keyboard     │        1 │   75.0 │ 2025-12-11T09:06:03 │
│     4 │       3 │ Monitor      │        1 │ 299.99 │ 2025-12-11T09:06:03 │
│     5 │       4 │ Headphones   │        1 │  150.0 │ 2025-12-11T09:06:03 │
│     6 │       5 │ USB Cable    │        3 │   10.0 │ 2025-12-11T09:06:03 │
└───────┴─────────┴──────────────┴──────────┴────────┴─────────────────────┘

✓ Stopped job e401b48d4f65394bdb4a0564514781fb

In [19]:
close()